:root{
  --white:hsl(220, 6%, 90%);
  --white-light: hsl(69, 91%, 70%);
  --Dark-blue: hsl(204, 53%, 12%);
  --gray-blue:hsl(213, 27%, 35%);
  --soft-blue:hsl(212, 27%, 46%);
  --very-soft-blue: hsl(212, 38%, 59%);
  --bright-cyan: hsl(192, 94%, 47%);
  --old-bg: hsl(180, 1%, 17%);
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.show{
  display: flex;
}

.hide{
  display: none;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: cursive;
}

.light-bg{
  background-color: var(--white);
  color: var(--gray-blue);
}

.dark-bg{
  background-color: var();
  color: white;
}

.light-dark-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3em;
}

.logo{
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.light-logo{
  fill: var(--gray-blue);
}

.light-logo:hover{
  fill: var(--soft-blue);
}

.light-logo:active{
  fill: var(--very-soft-blue);
}

.main-container{
  position: relative;
  top: 15vh;
  align-self: center;
  width: 30rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 0.2em solid hsl(204, 53%, 12%);
  border-radius: 15px;
  padding: 2rem;
  margin: 0;
}

.main-light{
  background-color: var(--white-light);
}


.quote{
  font-size: 22px;
  font-family: 'Lobster', cursive;
  color: hsl(204, 53%, 12%);
  opacity: 1;
  animation: appear 1.5s ease-in-out forwards;
}

.line{
  width: 90%;
  border: solid 1px hsl(204, 53%, 12%);;
}

.signature{
  font-family: 'Dancing Script', cursive;
  font-weight: bolder;
  font-size: 24px;
  color: hsl(204, 53%, 12%);
}

.btn{
  align-self: center;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  font-family: 'Lobster', cursive;
}

.btn-light{
  border: 0.2rem solid hsl(204, 53%, 12%);
  background-color: var(--gray-blue);
}

.btn-light:hover{
  background-color: var(--soft-blue);
}

.btn-light:active{
  background-color: var(--very-soft-blue);
}

.footer{
  display: flex;
  position: relative;
  top: 180px;
  font-size: 20px;
}

.paragraph{
  font-family: 'Lobster', cursive;

}

.links{
  color: var(--Dark-blue);
  font-weight: bold;
  text-decoration: none;
}

.links:hover{
  color: var(--soft-blue);
}


@keyframes appear{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@media (max-width: 480px) {
  .main-container{
    width: 21em;
    margin: 0 1em;
  }
}


@media (max-width: 375px) {
  .main-container{
    width: 19em;
  }
}